.footer{
    min-height: 10em;
    width: 100%;
    background-color: #FBDABB;
    display: flex;
    justify-content: center;
}
.container-footer{
    width: 55%;
    height: auto;
    max-width: 55%;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}
.contact, .social-media{

    display: flex;
    flex-direction: column;
    align-items: start;

    border: 1px solid red;
}
.contact > ul, .social-media> ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1rem;
}
.contact{
    display: flex;
    align-items: center;
}