.hero{
    /* border: 1px solid red; */
    height: 406px;
    background-color: #495E57;
    display: flex;
    justify-content: center;
}



/* ################### */
.highlights{
    height: 715px;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* ################### */
.testimonials{
    height: 590px;
    border: 1px solid red;
}
/* ################### */
.about{
    height: 578px;
    border: 1px solid red;
}