.highlights > .highContainer{
    border: 1px solid red;
    height: 70%;
    width: 55%;
}
.highContainer > .headContainer{
    display: flex;
    justify-content: space-between;
}
.headContainer > button{
    height: 60px;
    width: 200px;
    border-radius: 5px;
    background-color: #F4CE14;
    border-style: none;
    font-size: 18px;
    color: #EDEFFE;
}
.headContainer > h1{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #000000;
}