.menu-container{
    height: 120vh;
    width: 100%;
    /* border: 0.1px solid red; */
}
.menu-hero{
    background-color: #495E57;
    height: 50%;
    padding: 3%;

}
.menu-category{
    height: 15%;
}
.menu-content{
    height: 40%;
}
.menu-title{

    display: flex;
    flex-direction: column;
    color: #F4CE14;
    font-size: 2.5rem;
}
.menu-title > span{
    color: #EDEFEE;
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;

}
.little-hero-mobile{
    display: flex;
    height: 70%;
}
.little-hero-mobile > .menu-context{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.menu-image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-context > p {
    padding-top: 2em;
    font-family: 'Karla';
    font-style: normal;
    font-weight: medium;
    font-size: 1.2rem;
    color: #FFFFFF;
}
.menu-context > button {
    background: #F4CE14;
    border-radius: 16px;
    border: none;
    height: 2.5em;
    width: 10em;
}
.menu-image > img{
    height: 70%;
    width: 70%;
}
/* Menu Category */

.menu-category > .category-container{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    padding-left: 5%;
    margin-top: 5%;
}
.list-category{
    display: flex;
    justify-content: center;
    height: 40%;
    overflow: hidden;
    margin-top: 5%;
}
.list-category > ul > li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #EDEFEE;
    height: 40%;
    width: 5em;
    border-radius: 16px;
    color: #495E57;
    padding: 0.4rem;
}
#slider {
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }


